<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/substring-counter" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStringService" contract="IStringService"
                name="BasicHttpBinding_IStringService" />
        </client>
    </system.serviceModel>
</configuration>