h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
}

input {
	border-radius: 5px;
}

button {
	background-color: #adf;
	border: 0;
	border-radius: 5px;
	padding: 2px 5px;
	
	&:hover {
		box-shadow: 1px 1px 2px #555;
	}

	&:active {
		box-shadow: 1px 1px 2px #555 inset;
	}
}