<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="BookmarksEntities" connectionString="metadata=res://*/BookmarksModel.csdl|res://*/BookmarksModel.ssdl|res://*/BookmarksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Bookmarks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>