<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Supermarket" connectionString="Data Source=.;Initial Catalog=Supermarket;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ProductsConnection" connectionString="user id=vampiro;password=vampiro123;server=localhost;database=products" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.418.2" newVersion="2013.1.418.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.418.2" newVersion="2013.1.418.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>