body {

    background-color:aliceblue;
}

.block {

    display:block;

}

#registerForm {

    width:400px;
    margin: 0 auto;
    background-color:bisque;
}

#accept {

    margin: 20px 10px 20px 20px;
}

#registerBtn {

    margin-left:50px;
}

.error {

    font-weight:bold;
    color:red;
}